[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
